*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;  
    flex-direction: column;
    min-height: 100vh;
}

.home-btn{
    background-color: transparent;
    border:2px solid transparent;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}

.cart-btn{
    background-color: black;
    color:white;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    height: 48px;
    width:88px;
    padding: 10px px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: background-color 0.15s ease-in-out;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #4A4949;
}

.content {
    padding-top: 130px; 
    flex: 1;   
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}

.pro{
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: white;
    border:1px solid rgba(128, 128, 128, 0.4);
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    transition: transform 0.2s ease-in-out;
}

.pro-img{
    height: 225px;
    width: 225px;
    background-size: cover;
    border:1px solid #272626;
    border-radius: 25px;
}

.pro1-img {
    background-image: url("images/laptop.jpg");
}
.pro2-img {
    background-image: url("images/headphone.png");
}
.pro3-img {
    background-image: url("images/blue-handsfree.jpg");
}
.pro4-img {
    background-image: url("images/camera.jpg");
}
.pro5-img {
    background-image: url("images/speaker.jpg");
}
.pro6-img {
    background-image: url("images/smart\ watch.png");
}
.pro7-img {
    background-image: url("images/phone.jpg");
}
.pro8-img {
    background-image: url("images/socket.png");
}

.purchase-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
    margin-top: 15px;
}

.buy-btn {
    width: 200px;
    height: 50px;
    background-color: #272626;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.15s ease-in-out;
}

.add-to-cart-btn{
    height: 50px;
    width:50px;
    background-color:#272626;
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.15rem;
    transition: background-color 0.15s ease-in-out;

}

.product-name {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 10px;
    color: #272626;
}

.product-price {
    font-size: 1.2rem;
    color: black;
    margin-top: 6px;
}

.footer {
    background-color: #272626;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0vh;
    width: 100%;
    height:100px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
    font-size: 25px;
}
.social-icons a {
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
