*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: #c5c4c3;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 1000;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width:500px;
    border: 2px solid transparent;
    transition: border 0.2s ease-in-out;
}
.searchBar input{
    height:54px;
    width:100%;
    padding-left: 24px;
    border-radius: 25px 0px 0px 25px;
    border: none;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.1);
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    background-color: #ec5e95;
    color:white;
    margin-left: 2px;
    margin-right: 10px;
    cursor:pointer;
}

.search{
    width:auto;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 0px 25px 25px 0px;
}


.logo{
    background-image: url('images/logo.jpg');
    background-size: cover;
    height: 38px;
    width: 119px;
}

.logo-container {
    padding: 6px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border 0.2s ease-in-out;
}

.nav-middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:390px;
    height:30px;
}
.nav-middle a{
    font-weight: 500;
    font-size: 1.1rem;
    color:black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    padding: 5px 10px;
    transition: border 0.4s ease-in-out;
}


.login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:200px;
    margin-left: 25vh;
    gap:10px;
    font-family:Helvetica, sans-serif;
    
}
.login button{
    height: 48px;
    width:88px;
    padding: 10px px;
}
.signUp{
    background-color: transparent;
    border:2px solid transparent;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}
.login-btn{
    background-color: black;
    color:white;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}
.cancel-btn{
    background-color: transparent;
    border:2px solid transparent;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
    display: none;
    transition: border 0.2s ease-in-out;
}

.main-content {
    height:100vh;
    width:100vw;
}

.hero-img{
    background-image: url('images/hero-image.jpg');
    background-size: cover;
    height: 89vh;
    width: 100%;
    z-index: 0;
    position: relative;
    top: 85px;
}

.welcome{
    position: absolute;
    top: 200px;
    left: 47%;
    font-size: 60px;
    color: #4A4949;
}

.sub-head{
    position: absolute;
    top: 300px;
    left: 51%;
    font-size: 20px;
    color: #4A4949;
    width: 600px;
    text-align: center;
    margin-top: 30px;
}

.explore-btn{
    position: absolute;
    top: 525px;
    left: 71%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color: #343333;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}