*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
}

.panel {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height:100%;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    z-index: 0;
}

.panel a{
    text-decoration: none;
    color: white;
}
.panel button{
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu{
    width:100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:58px 0;
    gap:6px;
}

.menu-item{
    width:100%;
    height: 4.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu a{
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    width:293px;
}
.menu a:hover{
    transform:scale(1.1);
    transition: transform 0.1s ease-in-out;
    border-top:1px solid rgba(255, 255, 255, 0.25); 
    border-bottom:1px solid rgba(255, 255, 255, 0.25);
}

.profile-logo{
    height:60px;
    width:60px;
    font-size:2rem;
    padding: 10px;
}
.admin-info:hover{
    transform:scale(1.1);
    transition: transform 0.1s ease-in-out;
    border-top:1px solid rgba(255, 255, 255, 0.25); 
    border-bottom:1px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(to right, transparent, #454444, transparent);
}

.logout{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.logout:hover{
    transform:scale(1.1);
    border-top:1px solid rgba(255, 255, 255, 0.25); 
    border-bottom:1px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(to right, transparent, #454444, transparent);
}

.admin-info{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 60px;
    width: 100%;
}

.nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #979797;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    z-index: 1003;
}

.nav-menu{
    height: 100%;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

.notification{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 10px;
    background-color: transparent;
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.notification:hover,.message:hover{
    transform: scale(1.15);
    transition: transform 0.1s ease-out;
    box-shadow: 0px 0px 10px black;
}

.badge{
    position: absolute;
    top:0;
    right:0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.message{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 10px;
    background-color: transparent;
    color:white;
    margin-left: 20px;
    cursor:pointer;
    text-decoration: none;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width:500px;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;
}

.searchBar:hover{
    border: 1px solid black;
    transform: scale(1.03);
    transition: transform 0.1s linear;
    box-shadow: 0px 0px 5px black;
}

.searchBar input{
    height:54px;
    width:100%;
    padding-left: 24px;
    border-radius: 25px 0px 0px 25px;
    border: none;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.1);
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    background-color: #ec5e95;
    color:white;
    margin-left: 2px;
    margin-right: 10px;
    cursor:pointer;
}

.search{
    width:auto;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 0px 25px 25px 0px;
}


.logo{
    background-image: url('../../images/admin-logo.jpg');
    background-size: cover;
    height: 38px;
    width: 119px;
}

.logo-container {
    padding: 6px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border 0.2s ease-in-out;
}
.logo-container:hover{
    border: 2px solid black
}