* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content{
    display:grid;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: 1fr;
}

.side-panel{
    background-color: #595252;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-panel ul li{
    list-style: none;
    margin:50px 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    width:100%;
    border-top:1px solid rgba(255, 255, 255, 0.25);
    border-bottom:1px solid rgba(255, 255, 255, 0.25);
    padding: 15px 19px ;
    transition: transform 0.1s ease-in-out;
}
.side-panel ul li:hover{
    transform: scale(1.09);
}

.side-panel ul li a{
    text-decoration: none;
    color:white;
}
#edit-profile{
    background: linear-gradient(TO RIGHT, transparent,#867d7d,#867d7d, #867d7d, transparent);
    /* background-color: #867d7d; */
}

.main-content{
    grid-column: 1/2;
    grid-row: 1;
}

.head{
    text-align: center;
    margin: 40px 0;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 83%;  
    width: 100%;  
}
form{
    /* background-color: red; */
    height: 500px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
}

form label{
    font-size: 1.3rem;
}

form input{
    height:40px;
    width:35%;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 1.1rem;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px
}
.btns input,.btns button{
    height: 48px;
    width:150px;
    border:2px solid black;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    background-color: black;
    color:white;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}
.btns button{
    background-color: transparent;
    border:2px solid black;
    color: black;
}